body {
    background-color: #2b7a78;
}

main {
    display: flex;
    gap: 2%;
    margin-top: 5%;
    justify-content: center;
}

@media (max-width: 991.98px) {

    .navbar-brand {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        position: relative;
        margin-left: 10%;
    }
    .navbar-collapse {
        justify-content: right;
        margin-right: 30%;
    }
}