body {
    background-color: #2b7a78;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.about {
    width: 650px;
    height: 470px;
}

@media (max-width: 991.98px) {

    .navbar-brand {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;
    }
    .about {
        height: 40%; 
        width: 80%
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        position: relative;
        margin-left: 10%;
    }
    .navbar-collapse {
        justify-content: right;
        margin-right: 30%;
    }
}